#contactPage{
    margin: 0 auto;
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contactPageTitle{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.clientsDesc{
    font-weight: 300;
    font-size: 1rem;
}

.clientsImgs{
    margin: 1rem 0;
    display: flex;
}

.clientsImg{
    object-fit: cover;
    width: 23%;
    min-width: 9rem;
    margin: auto;
    padding: 0.25rem;
    flex-wrap: wrap;
}

.clientsImg:hover{
    box-shadow: 1px 1px 10px rgb(122, 122, 122);
}

#clients{
    padding: 2rem;
}

.contactDesc{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .msg, .email{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: rgb(210, 1, 185);
    border: solid rgb(179, 0, 255) 2px;
    border-radius: 0.5rem;
}

.submitBtn{
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
    background: rgb(210, 1, 185);
}

.submitBtn:hover{
    box-shadow: 1px 1px 10px rgb(142, 1, 125);
    border: none;
}

.links{
    display: flex;
    flex-wrap: wrap;
}

.link{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
}